*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bai Jamjuree',sans-serif;
    text-align: center;
    background: url(bg-header-desktop.png);
    background-repeat: no-repeat;
}

.one{
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;}
.container{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
p{
    text-align: center;
    width:500px;
    margin:0 auto;
    font-size:15px;
}
.btn1{
    background-color: hsl(171, 66%, 44%);
    border-radius: 20px;
    padding: 10px 40px;
    border-width:0px;
    color:white;
    border-bottom:2px solid hsl(171, 67%, 37%);
    box-shadow: 1px 1px 3px 1px hsla(171, 66%, 44%, 0.669);
}
.btn2{
    background-color: hsl(233, 100%, 69%);
    border-radius: 20px;
    padding: 10px 40px;
    border-width:0px;
    color:white;
    border-bottom: 2px solid hsl(233, 63%, 52%) ;
    box-shadow:1px 1px 3px 1px hsla(233, 100%, 69%, 0.699);
}
.btn1:hover{
    background-color: hsl(171, 68%, 64%);
    border-radius: 20px;
    padding: 10px 40px;
    border-width:0px;
    color:white;
    border-bottom:2px solid hsl(171, 67%, 37%);
    box-shadow: 1px 1px 3px 1px hsla(171, 66%, 44%, 0.669);
    cursor:pointer;
}
.btn2:hover{
    background-color: hsl(232, 100%, 85%);
    border-radius: 20px;
    padding: 10px 40px;
    border-width:0px;
    color:white;
    border-bottom: 2px solid hsl(233, 60%, 61%) ;
    box-shadow:1px 1px 3px 1px hsla(233, 100%, 69%, 0.699);
    cursor:pointer;
}
button{
    font-size: 14px;
    margin:20px 0px 0px 9px ;
}
h2{
    margin-top:100px;
    color:hsl(210, 10%, 33%)
}
.two2{
    text-align: center;
    width:560px;
    font-size:15px;
    }
    .desktop{
        display: flex;
        margin-top:100px ;
    }
    .laptop{
        margin-left:-30px;
    }
    .text{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        color:hsl(210, 10%, 33%);
        width:50%
    }
     
.three3{
    text-align: center;
    width:560px;
    font-size:15px;
}
.two2,.three3,.four4{
    margin-top: 25px;
}

.devices{
    margin-top: 60px;
}
.four4{
    text-align: center;
    width:560px;
    font-size:15px;
}
.five5,.six6,.seven7{
    text-align: center;
    width:300px;
    font-size:15px;
}
.chargesec{
display: flex;
justify-content: space-around;
margin-top: 70px;
}
.firms{
    display: flex;
    justify-content: space-evenly;
}
.firms>img{
    height: 10%;
    width: 10%;
}
.ate8{
    font-size: 15px;
    width:580px;
}
.buttons2{
    margin-top: 60px;
    margin-bottom: 100px;
}

footer{
    height: 2%;
    width: 100%;
    background-color: hsl(202, 14%, 85%);
    display: flex;
}
.logoo{
    
    padding: 20px;
    
}
ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:15px;
    font-weight: 600;
    padding: 20px;
}
ul li:hover{
    color:hsl(171, 63%, 37%);
    cursor: pointer;
    
}
.foot{
    margin-left:auto;
    margin-right: auto;
    display: flex;
}
.fb,.twt,.ig{
   margin-top: 40px;
   height: 25px;
   width: 25px;
   margin-left: 5px;
}
.fb:hover{
    color:hsl(171, 63%, 37%);
    cursor: pointer;
}
.ig:hover{
    color:hsl(171, 63%, 37%);
    cursor: pointer;
}
.twt:hover{
    color:hsl(171, 63%, 37%);
    cursor: pointer;
}
.socials{
    margin-left: 200px;
}

@media (max-width: 800px) {
   .one1{
    width:100%
   }
    .two2 {
      width: 100%;
    }
    .three3 {
      width: 100%;
    }
    .test {
      width: 100%;
    }
    .chargesec {
      flex-direction: column;
    }
    .ate8 {
      font-size: 15px;
      width: 100%;
    }
    .foot {
      flex-direction: column;
    }
    .four4 {
      text-align: center;
      width: 100%;
      font-size: 15px;
    }
    .laptop,.devices{
        width: 60%;
    }
    .desktop{
        display: flex;
        flex-direction: column;
    }
    .laptop{
        margin:0 auto 30px auto;
    }
    .textp1,.textp2,.textp3{
        width: 70%;
        text-align: center;
        line-height:2em;
    }
    .logo{
        width: 50%;
        margin-top: 50px;
    }
    .logz{
        width: 40%;
        margin: auto;
    }
    .firms{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        justify-content: space-evenly;
        margin: 40px auto -40px auto;
    }
    .firms>img{
       margin: 0px 0px 20px 0px;
       height: 80%;
       width: 20%;
    }
    .buttons1,.buttons2{
        display: flex;
        flex-direction: column;
    }
    .btn1,.btn2{
        width: 60%;
        margin: auto;
        margin-top: 20px;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    .socials{
        display: flex;
        margin: 20px auto;
    }
    .socials>ion-icon{
        margin: auto 20px;
    }
     .text{
        margin: auto;
    }
  }
